<div class="login-container">
  <div class="login-card">
    <div class="brand-logo flex flex-col justify-center items-center">
      <img src="images/logo-transparent-bg.png" alt="ApexFlow Logo" />
      <p>Accelerate Your Business Growth</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="text-start">Email Aziendale</label>
        <input
          pInputText
          type="email"
          formControlName="email"
          placeholder="name@company.com"
          [invalid]="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
        />

        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched)
        {
        <p-message severity="error" variant="simple" size="small">
          @if (loginForm.get('email')?.errors?.['required']) { L'email è
          obbligatoria. } @else if (loginForm.get('email')?.errors?.['email']) {
          Inserisci un'email valida. }
        </p-message>
        }
      </div>

      <div class="form-group">
        <label class="text-start">Password</label>
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          [invalid]="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
        ></p-password>

        @if (loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched) {
        <p-message severity="error" variant="simple" size="small">
          @if (loginForm.get('password')?.errors?.['required']) { La password è
          obbligatoria. } @else if
          (loginForm.get('password')?.errors?.['minlength']) { Minimo 6
          caratteri. }
        </p-message>
        }
      </div>

      @if (error()) {
      <div class="error-banner">
        <i class="pi pi-exclamation-triangle"></i>
        {{ error() }}
      </div>
      }

      <div class="form-actions" style="margin-top: 2rem">
        <p-button
          type="submit"
          [disabled]="loginForm.invalid || isLoading()"
          [loading]="isLoading()"
          label="Accedi"
          class="w-full"
          [style]="{ width: '100%' }"
        >
        </p-button>
      </div>

      <div class="footer-text">
        <div>
          <p>Credenziali Admin: admin&#64;demo.com / password</p>
          <p>Credenziali User: user&#64;demo.com / password</p>
        </div>
        <a
          href="https://github.com/xdelmo/dashboard-tesi"
          target="_blank"
          style="
            display: inline-flex;
            align-items: center;
            gap: 5px;
            color: #666;
            text-decoration: none;
            font-size: 0.9em;
            margin-top: 10px;
          "
        >
          <img src="/images/github-mark.png" class="h-4" />
          Vedi codice su GitHub
        </a>
      </div>
    </form>
  </div>
</div>
