<div class="login-container">
  <div class="login-card">
    <div class="brand-logo">
      <h2>🔹 Gestionale</h2>
      <p>Enterprise Dashboard Access</p>
    </div>

    <form (ngSubmit)="onSubmit($event)" #loginForm="ngForm">
      <div class="form-group">
        <label>Email Aziendale</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          required
          email
          #emailInput="ngModel"
          placeholder="name@company.com"
          [class.error-border]="emailInput.invalid && emailInput.touched"
        />

        <div
          *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
          class="error-message"
        >
          <span *ngIf="emailInput.errors?.['required']"
            >L'email è obbligatoria.</span
          >
          <span *ngIf="emailInput.errors?.['email']"
            >Inserisci un'email valida (es. &#64;gmail.com).</span
          >
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          minlength="6"
          #passwordInput="ngModel"
          placeholder="••••••••"
          [class.error-border]="passwordInput.invalid && passwordInput.touched"
        />

        <div
          *ngIf="
            passwordInput.invalid &&
            (passwordInput.dirty || passwordInput.touched)
          "
          class="error-message"
        >
          <span *ngIf="passwordInput.errors?.['required']"
            >La password è obbligatoria.</span
          >
          <span *ngIf="passwordInput.errors?.['minlength']"
            >Minimo 6 caratteri.</span
          >
        </div>
      </div>

      <div
        *ngIf="error"
        class="error-message"
        style="text-align: center; margin-bottom: 15px"
      >
        ⚠️ {{ error }}
      </div>

      <button
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
        class="btn-primary"
      >
        <span *ngIf="!isLoading">Accedi</span>
        <span *ngIf="isLoading">Caricamento...</span>
      </button>

      <p class="footer-text">Credenziali Demo: admin&#64;demo.com / password</p>
    </form>
  </div>
</div>
