@use '../../../../shared/styles/cards';

// Layout pagina intera
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
}


// La Card Bianca al centro
.login-card {
  @include cards.base-card;
  width: 100%;
  max-width: 400px;
  text-align: center;

  .brand-logo {
    margin-bottom: 2rem;
    h2 {
      margin: 0;
      color: #333;
      font-weight: 700;
    }
    p {
      margin: 5px 0 0;
      color: #888;
      font-size: 0.9rem;
    }
  }

  .footer-text {
    margin-top: 1.5rem;
    font-size: 0.8rem;
    color: #aaa;
  }
}
