<p-toast></p-toast>
<div class="dashboard-container">
  <app-page-header
    title="Ordini Recenti"
    subtitle="Monitora lo stato degli ordini e le transazioni"
  ></app-page-header>

  <main class="content-area">
    <div class="mb-5">
      <p-button
        label="Nuovo Ordine"
        icon="pi pi-plus"
        (onClick)="openModal()"
      ></p-button>
    </div>

    @if (enrichedOrders(); as ordersList) {
    <div class="card bg-white rounded-2xl shadow-lg overflow-hidden">
      <p-table
        [value]="ordersList"
        [tableStyle]="{ 'min-width': '50rem' }"
        [stripedRows]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>ID Ordine</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Tipo Servizio</th>
            <th>Importo</th>
            <th>Stato</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>#{{ order.id }}</td>
            <td>{{ order.date | date : "dd/MM/yyyy" }}</td>
            <td>
              <strong
                class="cursor-pointer text-primary hover:text-primary-600 underline"
                [routerLink]="['/customers', order.customerId]"
              >
                {{ order.customerName }}
              </strong>
            </td>
            <td>
              <div class="flex gap-2">
                @for (products of order.products; track $index) {
                <app-status-tag [value]="products.category"></app-status-tag>
                }
              </div>
            </td>
            <td class="font-bold">{{ order.amount | currency : "EUR" }}</td>
            <td>
              <app-status-tag [value]="order.status"></app-status-tag>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    }
    <app-order-modal
      [isOpen]="isModalOpen"
      (close)="closeModal()"
      (save)="saveOrder($event)"
    >
    </app-order-modal>
  </main>
</div>
