<div class="dashboard-home">
  <app-page-header
    title="Overview"
    subtitle="Benvenuto nel pannello di controllo Enterprise."
  ></app-page-header>

  <div class="stats-grid">
    <app-stat-card
      title="Fatturato Totale"
      [value]="
        (totalRevenue() | currency : 'EUR' : 'symbol' : '1.0-0') || '€ 0'
      "
      icon="pi-dollar"
      colorClass="blue"
    >
    </app-stat-card>

    <app-stat-card
      title="Ordini in Attesa"
      [value]="pendingOrders().toString()"
      icon="pi-clock"
      colorClass="purple"
    >
    </app-stat-card>

    <app-stat-card
      title="Clienti Attivi"
      [value]="activeCustomers().toString()"
      icon="pi-check-circle"
      colorClass="green"
    >
    </app-stat-card>

    <app-stat-card
      title="Totale Clienti"
      [value]="totalCustomers().toString()"
      icon="pi-users"
      colorClass="orange"
    >
    </app-stat-card>
  </div>

  <div class="charts-section">
    <div class="chart-container main-chart">
      <div class="chart-header">
        <h3>Andamento Finanziario {{ selectedYear() }}</h3>
        <select class="chart-filter" (change)="onYearChange($event)">
          <option [value]="2026" [selected]="selectedYear() === 2026">
            2026
          </option>
          <option [value]="2025" [selected]="selectedYear() === 2025">
            2025
          </option>
          <option [value]="2024" [selected]="selectedYear() === 2024">
            2024
          </option>
        </select>
      </div>

      <app-revenue-chart
        [orders]="orders()"
        [year]="selectedYear()"
      ></app-revenue-chart>
    </div>
  </div>
</div>
