<p-dialog
  [header]="customerToEdit() ? 'Modifica Cliente' : 'Nuovo Cliente'"
  [visible]="isOpen()"
  [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '100vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="onClose()"
>
  <form [formGroup]="customerForm" class="flex flex-col gap-4 mt-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col gap-2">
        <label for="name" class="font-semibold">Nome</label>
        <input
          id="name"
          pInputText
          type="text"
          formControlName="name"
          class="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              customerForm.get('name')?.invalid &&
              customerForm.get('name')?.touched
          }"
        />
        @if (customerForm.get('name')?.hasError('required') &&
        customerForm.get('name')?.touched) {
        <small class="text-red-500"> Nome richiesto </small>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="email" class="font-semibold">Email</label>
        <input
          id="email"
          pInputText
          type="email"
          formControlName="email"
          class="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              customerForm.get('email')?.invalid &&
              customerForm.get('email')?.touched
          }"
        />
        @if (customerForm.get('email')?.touched) { @if
        (customerForm.get('email')?.hasError('required')) {
        <small class="text-red-500"> Email richiesta </small>
        } @else if (customerForm.get('email')?.hasError('email')) {
        <small class="text-red-500"> Email non valida </small>
        } }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col gap-2">
        <label for="company" class="font-semibold">Azienda</label>
        <input
          id="company"
          pInputText
          type="text"
          formControlName="company"
          class="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              customerForm.get('company')?.invalid &&
              customerForm.get('company')?.touched
          }"
        />
        @if (customerForm.get('company')?.hasError('required') &&
        customerForm.get('company')?.touched) {
        <small class="text-red-500"> Azienda richiesta </small>
        }
      </div>

      <div class="flex flex-col gap-2">
        <label for="industry" class="font-semibold">Settore</label>
        <p-select
          id="industry"
          formControlName="industry"
          [options]="industryOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleziona un settore"
          appendTo="body"
          styleClass="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              customerForm.get('industry')?.invalid &&
              customerForm.get('industry')?.touched
          }"
        >
        </p-select>
        @if (customerForm.get('industry')?.hasError('required') &&
        customerForm.get('industry')?.touched) {
        <small class="text-red-500"> Settore richiesto </small>
        }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @if (isAdmin()) {
      <div class="flex flex-col gap-2">
        <label for="status" class="font-semibold">Stato</label>

        <p-select
          id="status"
          formControlName="status"
          [options]="statusOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleziona stato"
          appendTo="body"
          styleClass="w-full"
        >
        </p-select>
      </div>
      }

      <div class="flex flex-col gap-2">
        <label for="plan" class="font-semibold">Piano</label>
        <p-select
          id="plan"
          formControlName="plan"
          [options]="planOptions"
          optionLabel="label"
          optionValue="value"
          placeholder="Seleziona piano"
          appendTo="body"
          class="w-full"
          [disabled]="!isAdmin()"
        >
        </p-select>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Annulla"
      icon="pi pi-times"
      (onClick)="onClose()"
      styleClass="p-button-text"
    ></p-button>
    <p-button
      label="Salva"
      icon="pi pi-check"
      (onClick)="onSave()"
      [disabled]="customerForm.invalid"
    ></p-button>
  </ng-template>
</p-dialog>
