<p-menu #userMenu [model]="userMenuItems" [popup]="true" />

<div class="user-trigger" (click)="userMenu.toggle($event)">
  <div class="md:flex justify-center hidden">
    <p-avatar
      image="{{ currentUser()?.avatar }}"
      shape="circle"
      size="normal"
      class="mr-2"
    />
  </div>

  <div class="user-info">
    <span class="user-name">{{ currentUser()?.name }}</span>
    <span class="user-role uppercase">{{
      currentUser()?.role || "Developer"
    }}</span>
  </div>

  <i class="pi pi-chevron-down ml-2" style="font-size: 0.8rem; color: #666"></i>
</div>
