<div class="app-container">
  <aside class="sidebar">
    <div class="logo-area">
      <h3>Gestionale</h3>
    </div>
    <nav class="nav-links">
      <div class="nav-label">MENU PRINCIPALE</div>

      <a routerLink="/dashboard" routerLinkActive="active" class="gap-2">
        <i class="pi pi-th-large"></i> Dashboard
      </a>

      <div class="nav-label">GESTIONE</div>

      <a routerLink="/customers" routerLinkActive="active" class="gap-2">
        <i class="pi pi-users"></i> Anagrafica Clienti
      </a>

      <a routerLink="/orders" routerLinkActive="active" class="gap-2">
        <i class="pi pi-box"></i> Ordini
      </a>

      <div class="nav-spacer"></div>
      <a
        routerLink="/settings"
        routerLinkActive="active"
        class="disabled gap-2"
      >
        <i class="pi pi-cog"></i> Impostazioni
      </a>

      <a
        href="https://github.com/xdelmo/dashboard-tesi"
        target="_blank"
        class="gap-2"
      >
        <i class="pi pi-code"></i> Repository GitHub
      </a>
    </nav>
  </aside>

  <main class="main-content">
    <header class="top-bar">
      <app-header-profile></app-header-profile>
    </header>

    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
