<div
  class="flex h-screen w-screen bg-[#f4f6f8] overflow-hidden flex-col md:flex-row"
>
  <app-sidebar></app-sidebar>

  <!-- Main Content Area -->
  <main class="flex-1 flex flex-col h-full overflow-hidden mb-16 md:mb-0">
    <header
      class="h-16 bg-white border-b border-gray-200 flex items-center justify-between px-6 shrink-0"
    >
      <div
        class="md:hidden font-bold text-lg text-indigo-800 flex items-center gap-2 cursor-pointer"
        routerLink="/dashboard"
      >
        <img src="images/logo.png" alt="ApexFlow" class="h-10 w-auto" />
      </div>

      <div class="hidden md:block"></div>

      <app-header-profile></app-header-profile>
    </header>

    <div class="flex-1 overflow-y-auto p-4 md:p-8">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
