// --- IMPORTA I MODULI CONDIVISI ---
@use "./app/shared/styles/_forms.scss";

/* Define the layer order: Base (Tailwind) < Utilities (Tailwind) */
@layer tailwind-base, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

// PrimeNG Styles
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  margin: 0;
  // APPLICA POPPINS OVUNQUE
  font-family: "Poppins", sans-serif !important;
  background-color: #f4f6f8;
}
