// --- IMPORTA I MODULI CONDIVISI ---
@use "./app/shared/styles/_forms.scss";

html,
body {
  height: 100%;
  margin: 0;
  // APPLICA POPPINS OVUNQUE
  font-family: "Poppins", sans-serif !important;
  background-color: #f4f6f8;
}
